* {
    margin: 0;
    padding: 0;
}
html, body {
    padding-top: 33px;
    height: 100%;
}

blockquote{
    border-left: 0px !important;
}
  
H3 a, H3 a:visited {
    color: #060b0f !important;
}

H3 a:hover, H3 a:active {
    color: #060b0f !important;
}

/*********************************
Bootstrap Navigation bar custamized.
*/
ul.nav li.active a {
    color: #742e06 !important;
}

.nav-link{
    font-size: 150%;
}

.navbar-brand{
    font-size: 35px !important;
}

/*********************************
/*********************************
Post cosmetic part.
/*********************************
Picture set.
*/
form{
    padding:3px !important;
    background-color: #ffffffad; 
}

.form-check input {
    margin:4px 0 0 -10px !important;
}

/*********************************
Index page seciton set.
*/

section {
    position: relative;
    width: 100%;
    height: 102%;
}

section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
}

section .centertext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    padding:10px;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 95%,rgba(0,0,0,.5) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 95%,rgba(0,0,0,.5) 100%);
}

section .centertext h1 {
    color: #fff;
    font-family: 'Tangerine', serif;
    white-space: nowrap;
}

section .centertext p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

section .centertext small {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    text-align: left;
}

/*********************************
Picture set.
*/

.hero-image {
    top:0;
    background-image: url("/images/kitsuki-machi.gif");
    min-height: 125%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}
 
.hero-post {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*********************************
/*********************************
Virtical slider by clicking event.
/*********************************
Virtical slider Picture set.
*/
#top { background: url(/images/kitsuki-kimono.gif) center center / cover no-repeat;}
#sakura { background: url(/images/kitsuki-castle-sakura.gif) center center / cover no-repeat;}
#tomaya { background: url(/images/kitsuki-tomaya.gif) center center / cover no-repeat;}
#gyoko { background: url(/images/kitsuki-gyoko.gif) center center / cover no-repeat;}
#wasyoku { background: url(/images/kitsuki-wasyoku.gif) center center / cover no-repeat;}
#onsen { background: url(/images/kitsuki-onsen.gif) center center / cover no-repeat;}
#map { background: url(/images/kitsukiyoru.jpg) center center / cover no-repeat;}

/*********************************
Sticky Fixed menu block for index page.
/*********************************
floating menu body
*/
  .floating-menu {
    border-top: solid 3px #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    border-bottom: solid 1px #fff;
    font-family: sans-serif;
    background: #060606;
    padding: 3px;
    width:100%;
    z-index: 1000 !important;
    top: 14vh;
    left: 0;
    position: fixed;
  }
/*********************************
floating menu font
*/
.floating-menu a, .floating-menu h3 {
    font-size: 0.7em;
    display: block;
    margin: 0 0.5em;
    color: #8e98a0;
  }
/*********************************
floating manu animation
*/
.floating-animate {
    color: #f70f0f;
    animation: floating-Animation 1s ease 1s 1 alternate forwards;
}
@keyframes floating-Animation {
    50% {
        font-size: 4em;
        text-shadow: 1px 2px 1px #fff;
    }
    100% {
        text-shadow: -1px -2px -1px #fff;
    }
}
.floating-menu a:link, 
.floating-menu a:visited, 
.floating-menu a:hover, 
.floating-menu a:active { 
    color:#8e98a0; 
    text-decoration: none !important;
}
.floating-menu span a:link, 
.floating-menu span a:visited, 
.floating-menu span a:hover, 
.floating-menu span a:active { 
    color:#8e98a0; 
    text-decoration: none !important;
}
.floating-menu a:hover, 
.floating-menu span a:hover{
    color:#fff; 
    text-decoration: none !important;
} 

/*********************************
Video section for index page.
/*********************************
/* Style the video: 100% width and height to cover the entire window */
section #myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100% !important;
}

/* Add some content at the bottom of the video/page */
section .content {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    padding:10px;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 95%,rgba(0,0,0,.5) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 95%,rgba(0,0,0,.5) 100%);
}

/*********************************
Footer section for index page.
/*********************************
/* fixed footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    color: #fff;
    // font-family: 'Tangerine', serif;
    white-space: nowrap;
    text-align: center;
 }

/*********************************
video section slider for index page.
/*********************************
 /*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 805px; height: 320px;
	overflow: hidden;
	
	/*Time for some styling*/
	// margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 1200px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
    width: 640px;	
}

.image_title a:link, 
.image_title a:visited, 
.image_title a:hover, 
.image_title a:active{
	display: block;
	color: #fff;
	text-decoration: none;
	padding-left: 3vh;
	padding-bottom: 15vh;
	font-size: 2vh;
}
