* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

blockquote{
    border-left: 0px !important;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
}
section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
}
section .centertext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    padding:10px;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 95%,rgba(0,0,0,.5) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 95%,rgba(0,0,0,.5) 100%);
}
section .centertext h1 {
    color: #fff;
    font-family: 'Tangerine', serif;
    font-size: 64px;
    white-space: nowrap;
}
section .centertext p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
}
  
H3 a, H3 a:visited {
    color: #060b0f !important;
}

H3 a:hover, H3 a:active {
    color: #060b0f !important;
}

/*********************************
Bootstrap Navigation bar custamized.
*/
ul.nav li.active a {
    color: #742e06 !important;
}

.nav-link{
    font-size: 150%;
}

.navbar-brand{
    font-size: 35px !important;
}
/*Custamized down allow for the user name. I comes two without this.*/
.card{
    margin-top:65px;
}

/*********************************
/*********************************
Post cosmetic part.
/*********************************
Picture set.
*/
#post { background: url(/images/kitsuki-machi.gif) center center / cover no-repeat;}
.title-h1{
    color:#000;
}

.label-post{
    float:left;
    margin-top:2px;
    color:#fff;
    font-size:125%;
}

.list-group-item img, .list-group-item p img{
    width: auto !important;
    height: 180px !important;
}

.form-control img{
    width: auto !important;
    height: 80px !important;
}
/*********************************
Picture set.
*/
.hero-image {
    background-image: url("/images/kitsuki-machi.gif");
    background-color: #cccccc;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
 
.hero-post {
    padding-top: 7em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // color: rgb(59, 59, 44);
}

.hero-post form{
    background-color: #2a2b3369;
    padding: 1em;
    color:#fff;
}
/*********************************
/*********************************
Virtical slider by clicking event.
/*********************************
Virtical slider Picture set.
*/
#top { background: url(/images/kitsuki-kimono.gif) center center / cover no-repeat;}
#sakura { background: url(/images/kitsuki-castle-sakura.gif) center center / cover no-repeat;}
#tomaya { background: url(/images/kitsuki-tomaya.gif) center center / cover no-repeat;}
#gyoko { background: url(/images/kitsuki-gyoko.gif) center center / cover no-repeat;}
#wasyoku { background: url(/images/kitsuki-wasyoku.gif) center center / cover no-repeat;}
#onsen { background: url(/images/kitsuki-onsen.gif) center center / cover no-repeat;}

/*********************************
Virtical slider Section set.
*/
.section_set a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.section_set a:hover {
    opacity: .5;
}

/*********************************
Virtical slider for #top
*/
#top .up_a {
    padding-top: 300px;
}
#top .down_a {
    padding-top: 60px;
}
#top .up_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #43f829;
    border-bottom: 1px solid #43f829;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}
#top .down_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #43f829;
    border-bottom: 1px solid #43f829;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/*********************************
Virtical slider for #sakura
*/
#sakura .up_a {
    padding-top: 300px;
}
#sakura .down_a {
    padding-top: 60px;
}
#sakura .up_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #f64ec5;
    border-bottom: 1px solid #f64ec5;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}
#sakura .down_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #f64ec5;
    border-bottom: 1px solid #f64ec5;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/*********************************
Virtical slider for #tomaya
*/
#tomaya .up_a {
    padding-top: 300px;
}
#tomaya .down_a {
    padding-top: 60px;
}
#tomaya .up_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}
#tomaya .down_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}  

/*********************************
Virtical slider for #gyoko
*/
#gyoko .up_a {
    padding-top: 300px;
}
#gyoko .down_a {
    padding-top: 60px;
}
#gyoko .up_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #ffe25e;
    border-bottom: 1px solid #ffe25e;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}
#gyoko .down_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #ffe25e;
    border-bottom: 1px solid #ffe25e;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}  

/*********************************
Virtical slider for #wasyoku
*/
#wasyoku .up_a {
    padding-top: 300px;
}
#wasyoku .down_a {
    padding-top: 60px;
}
#wasyoku .up_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #eaff26;
    border-bottom: 1px solid #eaff26;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}
#wasyoku .down_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #eaff26;
    border-bottom: 1px solid #eaff26;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}  

/*********************************
Virtical slider for #onsen
*/
#onsen .up_a {
    padding-top: 300px;
}
#onsen .down_a {
    padding-top: 60px;
}
#onsen .up_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #151516;
    border-bottom: 1px solid #151516;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}
#onsen .down_allow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #151516;
    border-bottom: 1px solid #151516;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}  
